<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Sneackers God</title>
</head>
<body> 
    <header class="main-header">
        <div class="main-header-bar">
            <a id="enlace" href="login.html">Iniciar sesion</a> 
            <a id="enlace" href="registro.html">Registrate</a>
            <a id="enlace" href="carrito.html">Carrito</a>
            <form class="buscador">
                <label for="buscador">Buscador</label>
                <input class="redondeado" placeholder="Buscar productos" type="text"
                 style="width: 200px; height: 40px;" name="productos" id="buscador">
            </form>
        </div>
        <h1 class="titulo-principal"><a id="enlace" href="index.html">Sneackers God</a></h1>
        <nav>
            <ul id="categorias">
                <li class="nav-bar"><a id="enlace" href="">Mujeres</a></li>
                <li class="nav-bar"><a id="enlace" href="">Hombres</a></li>
                <li class="nav-bar"><a id="enlace" href="">Niños</a></li>
                <li class="nav-bar"><a id="enlace" href="">Marcas</a></li>
                <li class="nav-bar"><a id="enlace" href="">Sale</a></li>
            </ul>
        </nav>
    </header>
    <article class="detalle-product">
        <h2>Zapatillas Nike Air Jordan</h2>
        <img src="/img/jordan-detalleproduct.jpg" alt="Nike Air Jordan Red">
        <h4>$24.000</h4>
        <h4>Descipción</h4>
        <p>
            Con una estética del básquet de los 80 la marca entrega esta última versión de los clásicos
            de 1985, e inspirada en el legendario Michael Jordan presenta las Zapatillas Jordan Air 1 Mid
            construidas con un panel medio de cuero negro, un swoosh de cuero rojo que te dará mayor
            durabilidad en el tiempo. También tendrás un ajuste perfecto gracias su diseño tipo bota para
            que tus saltos sean más precisos. Además, sus perforaciones en la punta te dan mejor 
            ventilación y transpirabilidad en los momentos de más tensión en el juego, la suela de goma te
            dará mejor tracción y reacción en cada salto.
        </p>
        <h4><button class="boton"><a id="enlace-boton" href="carrito.html"> Añadir al carrito</a></h4></button>
    </article>
    <footer>
        <section class="contacto">
            <a id="enlace-contacto" href="">Contaco</a>
            <a id="enlace-contacto" href="">Redes sociales</a>
        </section>
    </footer>
</body>
</html>