<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Sneackers God</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-bar">
            <a id="enlace" href="login.html">Iniciar sesion</a> 
            <a id="enlace" href="registro.html">Registrate</a>
            <a id="enlace" href="carrito.html">Carrito</a>
            <form class="buscador">
                <label for="buscador">Buscador</label>
                <input class="redondeado" placeholder="Buscar productos" type="text"
                 style="width: 200px; height: 40px;" name="productos" id="buscador">
            </form>
        </div>
        <h1 class="titulo-principal">Sneackers God</h1>
        <nav>
            <ul id="categorias">
                <li class="nav-bar"><a id="enlace" href="">Mujeres</a></li>
                <li class="nav-bar"><a id="enlace" href="">Hombres</a></li>
                <li class="nav-bar"><a id="enlace" href="">Niños</a></li>
                <li class="nav-bar"><a id="enlace" href="">Marcas</a></li>
                <li class="nav-bar"><a id="enlace" href="">Sale</a></li>
            </ul>
        </nav>
    </header>
    <section class="centro-de-la-pagina">
        <img width="900" height="650" src="/img/foto-promocional.jpg"> 
    </section>
    <div>
        <section class="productos-destacados">
            <article id="a1">
                <h4>Nike Air Jordan 1</h4>
                <a href="/views/detalle_producto.html"><img width="100" height="100"
                     src="/img/nike-air-jordan1.jpg" alt="Nike Air Jordan 1"></a> 
            </article>
            <article id="a2">
                <h4>Adidas Yeezy</h4>
                <img width="100" height="100" src="/img/adidas-yeezy.jpg" alt="Adidas Yeezy">
            </article>
            <article id="a3">
                <h4>Nike Air Force</h4>
                <img width="100" height="100" src="/img/nike-airforce.jpg" alt="Nike AirForce">
            </article>
            <article id="a4">
                <h4>Adidas Stan Smith</h4>
                <img width="100" height="100" src="/img/adidas-stansmith.jpg" alt="Adidas Stan Smith">
            </article>
        </section>
    </div>
    <footer>
        <section class="contacto">
            <a id="enlace-contacto" href="">Contaco</a>
            <a id="enlace-contacto" href="">Redes sociales</a>
        </section>
    </footer>   
</body>
</html>