<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Sneackers God</title>
</head>
<body class="form-body">
    <header class="main-header">
        <div class="main-header-bar"> 
            <a id="enlace" href="login.html">¿Ya tenés una cuenta? Inicia sesión</a>
            <a id="enlace" href="carrito.html">Carrito</a>
        </div>
        <h1 class="titulo-principal"><a id="enlace" href="index.html">Sneackers God</a></h1>
    </header>
    <form action="" method="POST">
        <fieldset>
        <h2>Creá tu cuenta</h2>
        <input class="redondeado" placeholder="Nombre y apellido"
        type="text" style="width: 300px; height: 60px;" name="nombre" required>
        <input class="redondeado" placeholder="Email del usuario"
         type="email" style="width: 300px; height: 60px;" name="email" required>
        <input class="redondeado" placeholder="Número de teléfono" type="tel"
        style="width: 300px; height: 60px;" name="telefono" required> 
        <input class="redondeado" placeholder="Contraseña" type="password"
         style="width: 300px; height: 60px;" name="clave" required>
        <input class="redondeado" placeholder="Confirma tu contraseña" type="password"
        style="width: 300px; height: 60px;" name="clave" required>
        <button class="boton" type="submit">Enviar</button>
        </fieldset>
        </form>
    <footer class="form-footer">
        <section class="contacto">
            <a id="enlace-contacto" href="">Contaco</a>
            <a id="enlace-contacto" href="">Redes sociales</a>
        </section>
    </footer>
</body>
</html>